.outlineIn{
    outline: 1px solid white;
    outline-offset: -8px;
}
.divider::after{
    display: block;
    content: "";
    border-block-end: 0;
    flex-grow: 1;
    border-block-end: 1px solid black;
}
.divider::before{
    display: block;
    content: "";
    border-block-start: 0;
    flex-grow: 1;
    border-block-start: 1px solid black;
}

