.cormorant-garamond {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
}
.cormorant-upright {
    font-family: "Cormorant Upright";
    font-weight: 400;
    font-style: normal;
}
.dm-sans {
    font-family: "DM Sans";
    font-weight: 400;
    font-style: normal;
}
*{
    list-style: none;
}
