.divider::after{
    display: block;
    content: "";
    border-block-end: 0;
    flex-grow: 1;
    border-block-end: 1px solid black;
}
.divider::before{
    display: block;
    content: "";
    border-block-start: 0;
    flex-grow: 1;
    border-block-start: 1px solid black;
}
.MinusMargin3 {
    margin-left: -3rem;
}
.outlineIn{
    outline: 1px solid white;
    outline-offset: -14px;
}
@media only screen and (max-width: 700px) {
    .storyImg{
        width: 75% !important;
    }
}
.storyImg{
    width: 35%;
}

